[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Link
URL=http://dabodev.com
TryExec=
X-GNOME-DocPath=
Terminal=false
Name[en]=Dabo Website
GenericName[en]=
Comment[en]=
Name=Dabo Website
GenericName=
Comment=
Icon=/home/ubuntu/dabo/dabo/icons/daboIcon032.png
