[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Minesweeper
Exec=python /home/ubuntu/dabodemo/games/minesweeper.py
Icon=/home/ubuntu/dabo/dabo/icons/daboIcon032.png
Terminal=false
Categories=GTK;System;Settings;
OnlyShowIn=GNOME;XFCE;
X-Ubuntu-Gettext-Domain=ubiquity
